//font family
@font-face {
  font-family: anton_black;
  src: url("/font/Anton-Regular.ttf");
}

@font-face {
  font-family: utm_avo;
  src: url("/font/UTM Avo.ttf");
}

@font-face {
  font-family: utm_avo_bold;
  src: url("/font/UTM AvoBold.ttf");
}

@font-face {
  font-family: mon_light;
  src: url("/font/Montserrat-Light.ttf");
}
@font-face {
  font-family: mon_thin;
  src: url("/font/Montserrat-Thin.ttf");
}
@font-face {
  font-family: mon_regular;
  src: url("/font/Montserrat-Regular.ttf");
}

@font-face {
  font-family: mon_bold;
  src: url("/font/Montserrat-ExtraBold.ttf");
}

//Color
$blue_700: rgb(0, 0, 49);
$blue_600: rgb(1, 1, 73);
$blue_500: rgb(2, 2, 88);
$blue_400: rgb(2, 2, 124);
$blue_300: rgb(4, 4, 173);

$blue: #2b3964;
$red: #af4d4a;
$pink: #ecaba3;
$pink_700: #f5e3e0;
