#slide_card {
  .card_item {
    .card {
      min-height: 400px !important;
      position: relative;
      .card-body {
        .card-title {
          font-family: utm_avo_bold;
          font-size: 1rem;
        }
        .card-text {
          ul {
            li {
            }
          }
        }
      }
      .card_btn {
        position: absolute;
        top: 5px;
        right: 10px;
        margin: 5px auto;
        text-align: center;
        button {
          border-radius: 0;
          padding: 10px;
          display: block;
          width: 40px;
          height: 40px;
          background-color: transparent;
          border: 1px solid white;
          margin: 5px 0;
          transition: 0.5s;
          position: relative;
          span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 1.5rem;
            text-align: center;
          }
          .tip {
            background-color: white;
            padding: 5px 15px;
            font-size: 0.9rem;
            color: black;
            position: absolute;
            width: 100px;
            top: 0;
            left: calc(100% - 145px);
            display: none;
            &::after {
              content: "";
              position: absolute;
              top: 7px;
              right: -3px;
              display: block;
              width: 15px;
              height: 15px;
              background-color: white;
              transform: rotate(45deg);
            }
          }
          &:hover {
            background-color: $red;
            .tip {
              display: block;
            }
          }
        }
      }
    }
  }
}
